/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Lato font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Global styles */
body {
  @apply font-sans;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
